* {
  margin: 0;
  padding: 0;
}

.marca {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.fuente-card-texto {
  font-family: "Roboto Mono", monospace;
}

.fuente-card-titulo, .title-sections {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.form-contact, .fuente-sub-title {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2% 12%;
}

.background-color-header {
  margin: 0% 5% 1% 5%;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.logo_espiral {
  width: 30%;
  text-align: center;
  border-radius: 6px;
  transition: all 2s;
}

.logo_espiral:hover {
  transform: rotate(360deg);
}

@media only screen and (min-width: 320px) {
  .logo_espiral {
    width: 5%;
    size: 5%;
  }
}
.marca {
  margin: 0px;
}

.foto_perfil {
  width: 25%;
  text-align: center;
  border-radius: 40px;
}

.fondo-header {
  background-image: url(https://previews.123rf.com/images/maddyz15/maddyz151608/maddyz15160800029/61668484-abstract-hand-painted-ink-marble-texture-background-the-art-of-marbling-.jpg);
  background-size: cover;
  background-position: top center;
  margin: 0%;
}

.marca {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.fuente-card-texto {
  font-family: "Roboto Mono", monospace;
}

.fuente-card-titulo, .title-sections {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.form-contact, .fuente-sub-title {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2% 12%;
}

.background-color-header {
  margin: 0% 5% 1% 5%;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.logo_espiral {
  width: 30%;
  text-align: center;
  border-radius: 6px;
  transition: all 2s;
}

.title-sections {
  padding: 1% 12%;
}

.form-contact {
  margin: 5% 8%;
  text-decoration: overline;
}

.section_zines {
  margin: 0% 11%;
  font-size: 80%;
  color: black;
  background-color: white;
}

.section-2_zines {
  margin: 0% 30%;
  font-size: 80%;
  color: white;
  background-color: black;
}

.fondo {
  background-image: url(https://st3.depositphotos.com/3930503/12559/i/950/depositphotos_125593494-stock-photo-marble-ink-colorful-brown-marble.jpg);
}

.mapa-imprentas {
  padding: 0% 12%;
}

.botones-sociales {
  padding: 0% 3%;
  transition: 0s;
}
.botones-sociales:focus {
  color: black;
}

.marca {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.fuente-card-texto {
  font-family: "Roboto Mono", monospace;
}

.title-sections, .fuente-card-titulo {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.fuente-sub-title, .form-contact {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2% 12%;
}

.background-color-header {
  margin: 0% 5% 1% 5%;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.logo_espiral {
  width: 30%;
  text-align: center;
  border-radius: 6px;
  transition: all 2s;
}

.marca {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.fuente-card-texto {
  font-family: "Roboto Mono", monospace;
}

.title-sections, .fuente-card-titulo {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.fuente-sub-title, .form-contact {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2% 12%;
}

.background-color-header {
  margin: 0% 5% 1% 5%;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.logo_espiral {
  width: 30%;
  text-align: center;
  border-radius: 6px;
  transition: all 2s;
}

.marca {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.fuente-card-texto {
  font-family: "Roboto Mono", monospace;
}

.title-sections, .fuente-card-titulo {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.fuente-sub-title, .form-contact {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2% 12%;
}

.background-color-header {
  margin: 0% 5% 1% 5%;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

.logo_espiral {
  width: 30%;
  text-align: center;
  border-radius: 6px;
  transition: all 2s;
}

.title-sections {
  padding: 1% 12%;
}

.form-contact {
  margin: 5% 8%;
  text-decoration: overline;
}

.section_zines {
  margin: 0% 11%;
  font-size: 80%;
  color: black;
  background-color: white;
}

.section-2_zines {
  margin: 0% 30%;
  font-size: 80%;
  color: white;
  background-color: black;
}

.fondo {
  background-image: url(https://st3.depositphotos.com/3930503/12559/i/950/depositphotos_125593494-stock-photo-marble-ink-colorful-brown-marble.jpg);
}

.mapa-imprentas {
  padding: 0% 12%;
}

.botones-sociales {
  padding: 0% 3%;
  transition: 0s;
}
.botones-sociales:focus {
  color: black;
}

.grid-perfil {
  margin: 2% 11%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
}

.area {
  flex-grow: 1;
  flex-basis: 20%;
  background-color: white;
}

.area-foto {
  height: 70%;
  width: 70%;
  border-radius: 40%;
}

.boton-foto-icon {
  position: absolute;
  bottom: 32%;
  right: 80%;
  background-color: transparent;
  border: transparent;
  color: transparent;
  transition: 1s;
}
.boton-foto-icon:hover {
  color: white;
}

.area-1 {
  flex-grow: 2;
  flex-basis: 80%;
  background-color: white;
}

.mi-funzi-card {
  transition: 0s;
}
.mi-funzi-card:hover {
  color: transparent;
}/*# sourceMappingURL=style.css.map */